<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Set Up</title>
    <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen" title="default"/>
    <!--[if IE]>
    <link rel="stylesheet" media="all" type="text/css" href="css/pro_dropline_ie.css"/>
    <![endif]-->

    <!--  jquery core -->
    <script src="js/jquery/jquery-1.4.1.min.js" type="text/javascript"></script>

    <!--  checkbox styling script -->
    <script src="js/jquery/ui.core.js" type="text/javascript"></script>
    <script src="js/jquery/ui.checkbox.js" type="text/javascript"></script>
    <script src="js/jquery/jquery.bind.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('input').checkBox();
            $('#toggle-all').click(function () {
                $('#toggle-all').toggleClass('toggle-checked');
                $('#mainform input[type=checkbox]').checkBox('toggle');
                return false;
            });
        });
    </script>


    <!--  styled select box script version 1 -->
    <script src="js/jquery/jquery.selectbox-0.5.js" type="text/javascript"></script>
    <script src="js/jquery/commonUtils.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.styledselect').selectbox({inputClass: "selectbox_styled"});
        });

        var billingResponse = null;
        function getReady() {

            makeGetAjaxRequest({}, "http://localhost:3000/getAllProductIncart", function (resp) {

                if (resp === 3002) {
                    return;
                }

                console.log(resp);
                billingResponse = JSON.parse(resp);
                initBillingTable(billingResponse);
            });
        }

        getReady();


        function onPlusClick(e){

            var previousQuantity = $('#row_'+ e.id).find('td:eq(3)').text();
            previousQuantity = parseInt(previousQuantity);

            console.log("Billing response" + e.id);

            for(var j= 0; j < billingResponse.length; j++){
                if(billingResponse[j]._id == e.id){
                    console.log("came in if");
                    break;
                }
            }

            var thisObj = billingResponse[j];

            if(thisObj.quantity == 0){
                alert("Product sold out");
                return;
            }

            //Ajax call to reduce contity by one
            var req1 = {
                "quantity" : thisObj.quantity - 1
            };

            var url = "http://localhost:3000/reduceQuantity/" + e.id;
            makeAjaxRequest(req1,url,function(resp){
                thisObj.quantity = thisObj.quantity-1
            });

            //Ajax call to Insert entry into cart
            var url = "http://localhost:3000/insertCart/" + e.id;
            makeGetAjaxRequest({"getRecord" : true},url,function(resp){

                if(resp === 3002){
                    return;
                }
                previousQuantity++;
                thisObj.inCartQuantity = previousQuantity;
                var newPrice =  (thisObj.price * previousQuantity) *(parseInt(thisObj.discount)/100);
                newPrice =(thisObj.price * previousQuantity)- newPrice;


                $('#row_'+ e.id).find('td:eq(4)').text(newPrice);
                $('#row_'+ e.id).find('td:eq(3)').text(previousQuantity);
                calculateTotal();
            });
        }

        function calculateTotal(){

            var final = 0;
            for (cnt =0 ; cnt < billingResponse.length; cnt++) {

                var currntObj = billingResponse[cnt];

                if(currntObj == null || currntObj== undefined || currntObj.price == null || currntObj.price == undefined){
                    continue;
                }

                var original = parseInt(currntObj.price) * parseInt(currntObj.inCartQuantity);
                var discounted = original * (parseInt(currntObj.discount) / 100);
                var total = original - discounted;
                final+=total;
            }
            $('#totalRow').find('td:eq(4)').text(final);
        }

        function onMinusClick(e){
            var previousQuantity = $('#row_'+ e.id).find('td:eq(3)').text();
            previousQuantity = parseInt(previousQuantity);



            console.log("Billing response" + e.id);

            for(var j= 0; j < billingResponse.length; j++){
                if(billingResponse[j]._id == e.id){
                    console.log("came in if");
                    break;
                }
            }

            var thisObj = billingResponse[j];

            if(thisObj.inCartQuantity == 1){
                alert("Removing from Cart");
                onDeleteClick(e);
                return;
            }

            //Ajax call to reduce contity by one
            var req1 = {
                "quantity" : thisObj.quantity + 1
            };

            var url = "http://localhost:3000/reduceQuantity/" + e.id;
            makeAjaxRequest(req1,url,function(resp){
                thisObj.quantity = thisObj.quantity+1
            });

            //Ajax call to Insert entry into cart
            var url = "http://localhost:3000/deleteFromCart/" + e.id;

            var req2 = {
                "quantity" : thisObj.inCartQuantity - 1
            };
            makeAjaxRequest(req2,url,function(resp){

                if(resp === 3002){
                    return;
                }
                previousQuantity--;
                thisObj.inCartQuantity = previousQuantity;

                var newPrice =  (thisObj.price * previousQuantity) *(parseInt(thisObj.discount)/100);
                newPrice =(thisObj.price * previousQuantity)- newPrice;


                $('#row_'+ e.id).find('td:eq(4)').text(newPrice);
                $('#row_'+ e.id).find('td:eq(3)').text(previousQuantity);
                calculateTotal();
            });
        }

        function onDeleteClick(obj){

            var req2 = {
                "productId" : obj.id
            };

            console.log(req2);
            var url = "http://localhost:3000/clearCart/";
            makeAjaxRequest(req2,url,function(resp){

                if(resp === 3002){
                    return;
                }
                $('#row_'+ obj.id).remove();

                for(var j= 0; j < billingResponse.length; j++){
                    if(billingResponse[j]._id == obj.id){
                        console.log("came in if");
                        break;
                    }
                }

                billingResponse[j] = {};
                calculateTotal();

                //getReady();
            });
        };

        //Submit request

        function onSublmitClick(){
            window.open("/public/invoice/template.html",'_blank');

            var url = "http://localhost:3000/insertBill";

            var request = {
                soldDate : new Date().getTime(),
                billInfo : billingResponse,
                totalAmount: $('#totalRow').find('td:eq(4)').text()
            }

            makeAjaxRequest(request,url,function(resp){
            });

            //Function to remove this from collection
            setTimeout(function(){
                clearMyBag();
                window.location.assign("/public/template/dashboard.html");
            },2000);
        }

        //clear Bag collection
        function clearMyBag(){
            var url = "http://localhost:3000/clearCart";
            makeAjaxRequest({},url,function(resp){

                if(resp === 3002){
                    return;
                }

                window.location.assign("/public/template/dashboard.html");
            });
        }

        function generateNew(){
            window.open("/public/invoice/template.html",'_blank');
        }

    </script>

    <!--  styled select box script version 2 -->
    <script src="js/jquery/jquery.selectbox-0.5_style_2.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.styledselect_form_1').selectbox({inputClass: "styledselect_form_1"});
            $('.styledselect_form_2').selectbox({inputClass: "styledselect_form_2"});
        });
    </script>

    <!--  styled select box script version 3 -->
    <script src="js/jquery/jquery.selectbox-0.5_style_2.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.styledselect_pages').selectbox({inputClass: "styledselect_pages"});
        });
    </script>

    <!--  styled file upload script -->
    <script src="js/jquery/jquery.filestyle.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        $(function () {
            $("input.file_1").filestyle({
                image: "images/forms/choose-file.gif",
                imageheight: 21,
                imagewidth: 78,
                width: 310
            });
        });
    </script>

    <!-- Custom jquery scripts -->
    <script src="js/jquery/custom_jquery.js" type="text/javascript"></script>

    <!-- Tooltips -->
    <script src="js/jquery/jquery.tooltip.js" type="text/javascript"></script>
    <script src="js/jquery/jquery.dimensions.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('a.info-tooltip ').tooltip({
                track: true,
                delay: 0,
                fixPNG: true,
                showURL: false,
                showBody: " - ",
                top: -35,
                left: 5
            });
        });
    </script>


    <!--  date picker script -->
    <link rel="stylesheet" href="css/datePicker.css" type="text/css"/>
    <script src="js/jquery/date.js" type="text/javascript"></script>
    <script src="js/jquery/jquery.datePicker.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        $(function () {

// initialise the "Select date" link
            $('#date-pick')
                    .datePicker(
                    // associate the link with a date picker
                    {
                        createButton: false,
                        startDate: '01/01/2005',
                        endDate: '31/12/2020'
                    }
            ).bind(
                    // when the link is clicked display the date picker
                    'click',
                    function () {
                        updateSelects($(this).dpGetSelected()[0]);
                        $(this).dpDisplay();
                        return false;
                    }
            ).bind(
                    // when a date is selected update the SELECTs
                    'dateSelected',
                    function (e, selectedDate, $td, state) {
                        updateSelects(selectedDate);
                    }
            ).bind(
                    'dpClosed',
                    function (e, selected) {
                        updateSelects(selected[0]);
                    }
            );

            var updateSelects = function (selectedDate) {
                var selectedDate = new Date(selectedDate);
                $('#d option[value=' + selectedDate.getDate() + ']').attr('selected', 'selected');
                $('#m option[value=' + (selectedDate.getMonth() + 1) + ']').attr('selected', 'selected');
                $('#y option[value=' + (selectedDate.getFullYear()) + ']').attr('selected', 'selected');
            }
// listen for when the selects are changed and update the picker
            $('#d, #m, #y')
                    .bind(
                    'change',
                    function () {
                        var d = new Date(
                                $('#y').val(),
                                $('#m').val() - 1,
                                $('#d').val()
                        );
                        $('#date-pick').dpSetSelected(d.asString());
                    }
            );

// default the position of the selects to today
            var today = new Date();
            updateSelects(today.getTime());

// and update the datePicker to reflect it...
            $('#d').trigger('change');
        });
    </script>

    <!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
    <script src="js/jquery/jquery.pngFix.pack.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).pngFix();
        });
    </script>
</head>
<body>
<!-- Start: page-top-outer -->
<div id="page-top-outer">

    <!-- Start: page-top -->
    <div id="page-top">

        <!-- start logo -->
        <div id="logo">
            <a href=""><img src="images/shared/logo.png" width="156" height="40" alt=""/></a>
        </div>
        <!-- end logo -->

        <!--  start top-search -->


    </div>
    <!-- End: page-top -->

</div>
<!-- End: page-top-outer -->

<div class="clear">&nbsp;</div>

<!--  start nav-outer-repeat................................................................................................. START -->
<div class="nav-outer-repeat">
    <!--  start nav-outer -->
    <div class="nav-outer">

        <!-- start nav-right -->
        <div id="nav-right">


            <div class="nav-divider">&nbsp;</div>
            <a href="http://localhost:3000/" id="logout"><img src="images/shared/nav/nav_logout.gif" width="64" height="14" alt=""/></a>

            <div class="clear">&nbsp;</div>

            <!--  start account-content -->
            <div class="account-content">
                <div class="account-drop-inner">
                    <a href="" id="acc-settings">Settings</a>

                    <div class="clear">&nbsp;</div>
                    <div class="acc-line">&nbsp;</div>
                    <a href="" id="acc-details">Personal details </a>

                    <div class="clear">&nbsp;</div>
                    <div class="acc-line">&nbsp;</div>
                    <a href="" id="acc-project">Project details</a>

                    <div class="clear">&nbsp;</div>
                    <div class="acc-line">&nbsp;</div>
                    <a href="" id="acc-inbox">Inbox</a>

                    <div class="clear">&nbsp;</div>
                    <div class="acc-line">&nbsp;</div>
                    <a href="" id="acc-stats">Statistics</a>
                </div>
            </div>
            <!--  end account-content -->

        </div>
        <!-- end nav-right -->


        <!--  start nav -->
        <div class="nav">
            <div class="table">

                <ul class="select" >
                    <li><a href="/public/template/dashboard.html"><b>Dashboard</b><!--[if IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]>
                        <table>
                            <tr>
                                <td><![endif]-->
                        <div class="select_sub">
                            <ul class="sub">

                            </ul>
                        </div>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                </ul>

                <div class="nav-divider">&nbsp;</div>

                <ul class="select">
                    <li><a href="/public/template/insertProduct.html"><b>Products</b><!--[if IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]>
                        <table>
                            <tr>
                                <td><![endif]-->
                        <div  class="select_sub show">
                            <ul class="sub">
                                <li><a href="/public/template/dashboard.html">View all products</a></li>
                                <li class="sub_show"><a href="/public/template/insertProduct.html">Add product</a></li>
                            </ul>
                        </div>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                </ul>

                <div class="nav-divider">&nbsp;</div>

                <ul class="select">
                    <li><a href="#nogo"><b>Categories</b><!--[if IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]>
                        <table>
                            <tr>
                                <td><![endif]-->
                        <div class="select_sub">
                            <ul class="sub">
                                <li><a href="/public/template/dashboard.html?category=Jeans">Jeans</a></li>
                                <li><a href="/public/template/dashboard.html?category=Tshirt">T-shirt</a></li>
                                <li><a href="/public/template/dashboard.html?category=Casual">Casual</a></li>
                            </ul>
                        </div>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                </ul>

                <div class="nav-divider">&nbsp;</div>

                <ul class="current" >
                    <li><a href="/public/template/billing.html"><b>Billing</b><!--[if IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]>
                        <table>
                            <tr>
                                <td><![endif]-->
                        <div class="select_sub">
                            <ul class="sub">
                                <li><a onclick="clearMyBag()">Clear All</a></li>
                                <li><a onclick="generateNew()">Generate Bill</a></li>
                            </ul>
                        </div>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                </ul>

                <div class="nav-divider">&nbsp;</div>

                <ul class="select">
                    <li><a href="/public/template/setup.html?name=category"><b>Set Up</b><!--[if IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]>
                        <table>
                            <tr>
                                <td><![endif]-->
                        <div class="select_sub">
                            <ul class="sub">
                                <li><a href="/public/template/setup.html?name=category" >Category</a></li>
                                <li><a href="/public/template/setup.html?name=brand" >Brand</a></li>
                                <li><a href="/public/template/setup.html?name=size" >Size</a></li>
                            </ul>
                        </div>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                </ul>

                <div class="nav-divider">&nbsp;</div>

                <ul class="select">
                    <li><a ><b></b><!--[if IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]>
                        <table>
                            <tr>
                                <td><![endif]-->
                        <div class="select_sub">
                            <ul class="sub">

                            </ul>
                        </div>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                </ul>

                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <!--  start nav -->

    </div>
    <div class="clear"></div>
    <!--  start nav-outer -->
</div>
<!--  start nav-outer-repeat................................................... END -->

<div class="clear"></div>

<!-- start content-outer ........................................................................................................................START -->
<div id="content-outer">
    <!-- start content -->
    <div id="content">

        <!--  start page-heading -->
        <div id="page-heading">
            <h1>Show List</h1>
        </div>
        <!-- end page-heading -->

        <table border="0" width="70%" cellpadding="0" cellspacing="0" id="content-table">
            <tr>
                <th rowspan="3" class="sized"><img src="images/shared/side_shadowleft.jpg" width="20" height="300"
                                                   alt=""/></th>
                <th class="topleft"></th>
                <td id="tbl-border-top">&nbsp;</td>
                <th class="topright"></th>
                <th rowspan="3" class="sized"><img src="images/shared/side_shadowright.jpg" width="20" height="300"
                                                   alt=""/></th>
            </tr>
            <tr>
                <td id="tbl-border-left"></td>
                <td>
                    <!--  start content-table-inner ...................................................................... START -->
                    <div id="content-table-inner">

                        <!--  start table-content  -->
                        <div id="table-content">

                            <!--  start product-table ..................................................................................... -->
                            <form id="mainform"  action="">

                                <!--  end product-table................................... -->


                            </form>
                        </div>
                        <!--  end content-table  -->

                        <!--  start actions-box ............................................... -->

                        <!-- end actions-box........... -->


                        <!--  end paging................ -->

                        <div class="clear"></div>

                    </div>
                    <!--  end content-table-inner ............................................END  -->
                </td>
                <td id="tbl-border-right"></td>
            </tr>
            <tr>
                <th class="sized bottomleft"></th>
                <td id="tbl-border-bottom">&nbsp;</td>
                <th class="sized bottomright"></th>
            </tr>
        </table>
        <div class="clear">&nbsp;</div>

    </div>
    <!--  end content -->
    <div class="clear">&nbsp;</div>
</div>
<!--  end content-outer........................................................END -->

<div class="clear">&nbsp;</div>

<!-- start footer -->
<div id="footer">
    <!--  start footer-left -->
    <div id="footer-left">


    </div>
    <!--  end footer-left -->
    <div class="clear">&nbsp;</div>
</div>
<!-- end footer -->

</body>
</html>